.App {
  text-align: center;
}

.btn{
  height: 4em;
  width: 12em;
  font-size: 0.7em;
  font-weight: 900;
  border-radius: 0.51em;
  border: none;

}
.btn:hover{
  height: 4em;
  width: 12em;
  font-size: 0.7em;
  font-weight: 900;
  border-radius: 0.51em;
  border: none;
  background-color: bisque;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
p{
  font-size: 0.7em ;
  font-weight: 600;}
